.values-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $offset_2x;
}
    .values-list-item-timeval {
        
    }

    .values-list-item-value {
    }
    
    .values-list-item-remove {

    }